
@{
    ViewData["Title"] = "MobxIntro";
}

<h2>MobxIntro</h2>

@section scripts {
    <script src="~/scripts/src/MobxIntro/appToDo.bundle.js" asp-append-version="true"></script>
}

<section id="root"></section>
