

@section Styles {
    <style>
        /* app css stylesheet */
        .hoverwell:hover {
            background-color: #485563;
            cursor: pointer;
        }

        .container {
            padding-top: 10px;
        }

        .pointable {
            cursor: pointer;
        }

        button {
            color: #555;
        }

        [hidden] {
            display: none !important;
        }

        .toast-success {
            background-color: #51a351;
        }

        .toast-error {
            background-color: #bd362f;
        }

        .toast-info {
            background-color: #2f96b4;
        }

        .toast-warning {
            background-color: #f89406;
        }

        .event-thumbnail .green {
            color: green !important;
        }

        .event-thumbnail .bold {
            font-weight: bold;
        }

        .event-thumbnail .pad-left {
            margin-left: 10px;
        }

        .event-thumbnail .well div {
            color: brown;
        }

        .event-thumbnail .thumbnail {
            min-height: 210px;
        }
    </style>
}


<section id="eventapp"></section>


@section scripts {
    <script src="~/scripts/src/ReactTechEvents/index.bundle.js" asp-append-version="true"></script>
}