@section scripts {
    <script src="~/scripts/src/About/main.bundle.js" asp-append-version="true"></script>
}

@section Styles {
<style>
    #app {
        padding: 50px;
        background-color: #fff;
    }

    .letter {
        padding: 10px;
        margin: 10px;
        background-color: #ffde00;
        color: #333;
        display: inline-block;
        font-family: monospace;
        font-size: 32px;
        text-align: center;
    }
</style>
}


@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div id="app">
    <p>Use this area to provide additional information. and more</p>

</div>


