

@section Styles {
    <style>
    </style>
}


<section id="forum"></section>


@section scripts {
    <script src="~/scripts/src/ReactFluxBaseExample1/app.bundle.js" asp-append-version="true"></script>
}